.Select {
  font-size: 16px;
  padding: 2px;
  box-sizing: border-box;
  border-radius: 1px;
  width: 100px;
  height: 26px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../../assets/arrow-down.png");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.Select_open {
  background-image: url("../../assets/arrow-up.png");
}

.Select_theme_small {
  width: 88px;
  height: 26px;
}

.Select_theme_medium_plus {
  width: 161px;
  height: 26px;
}

.Select_theme_medium {
  width: 157px;
  height: 26px;
}
